%h1 FAQ
%ul
	%li Comment ça marche?
	%p Quand j'ai des légumes en surplus dans le jardin, le liste le nombre sur le site et vous pouvez les commandés. Aprés la commande, je vais recolte votre commande dans mon jardin et je prepare la commande. Dés que la commande est prêt je vous previens par e-mail ou sms. Vous pouvez venir le chercher chez moi à la maison.
	%li Comment je peut payer?
	%p Pour l'instant le paiement se fait au moment de livraison ou recolte de la commande. Il y aura dans le future des options pour payer en ligne. Pour ceux qui connaisse il y a l'option de payer en bitcoin sur l'adresse 1HCc9sAuez9JGgHsAGAj93CkMSwc6dTrtE
	%li Est-ce que les produits sont bio?
	%p Les légumes sont produits sans supplements chemiques et sans produits poissoneuses. Par contre il sont peut-etre contaminé par les produits dans l'air ou les grains sont pas produits bio.
