%h1 Checkout

%h2 You have the following products:

%table.table.table-hover
	%thead
		%tr
			%td= t("Quantity")
			%td= t("product")
			%td= t("subtotal")
		-@cart.items.each do |item|
			%tr
				%td=item.quantity
				%td
					%strong=item.product.name
				%td=number_to_currency(item.total_price, unit: "€ ")
		%tr 
			%td
			%td
				%strong
					Total price:
			%td=number_to_currency(@cart.total_price, unit: '€ ')
=form_for @order_form, url: orders_path do |f|
	=render 'orders/errors'
	%h3 Your details
	=f.fields_for :user, f.object.user do |u|
		.form-group
			%p=u.text_field :name, placeholder: "Name", class: "form-control input-lg"
			%p
				=u.text_field :email, placeholder: "Email", class: "form-control"
				%span.help-block This will help you track your order more effectively.
			.form-group
				.row
					%p.col-md-6=u.text_field :address, placeholder: "Address", class: "form-control"
					%p.col-md-3=u.text_field :postal_code, placeholder: "Postal code", class: "form-control"
					%p.col-md-3=u.text_field :city, placeholder: "City", class: "form-control"
				%p=u.country_select :country, { priority_countries: [ "BE" ] }, { class: "form-control" }
	
				%p
					=u.text_field :phone, class: "form-control", placeholder: "Phone"
					%span.help-block This will allow us to contact you in case of a problem.
		%p=f.submit "Place order", class: "btn btn_primary"